.container {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.timers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: var(--b) var(--b-xl);
    box-sizing: border-box;

    div {
        display: flex;
        flex-direction: column;
        width: 64px;
    }

    div:not(:first-child) {
        margin-left: var(--b-xl);
    }

    .timeLabel {
        color: var(--label);
    }

    .time {
        font-size: var(--f-xl);
    }
}

.top {
    display: flex;
    flex-direction: row;
    margin: var(--b-xl);
    flex-basis: 50vh;
    flex-shrink: 1;
}

.left {
    display: flex;
    flex-direction: column;
    margin-right: var(--b-xl);
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 25vw;
    max-width: 25vw;
    // justify-content: space-between;
}

.left > :first-child {
    margin-bottom: var(--b-xl);
}

.right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: stretch;
    align-items: stretch;
}

.right > :first-child {
    flex-grow: 1;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin: var(--b-xl);
    margin-top: 0;
    flex-grow: 1;
    max-height: 30vh;
}

.bottom > :first-child {
    margin-right: var(--b-xl);
}