.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: var(--height-m);
    background-color: var(--fill-l);
    border-bottom: 1px solid var(--border-m);
    flex-shrink: 0;
}

.title {
    font-weight: 400;
}

.statusContainer {
    position: absolute;
    display: flex;
    left: 0;
    flex-direction: row;
    .statusIndicator {
        margin-left: 4px;
    }
}

.stateContainer {
    position: absolute;
    display: flex;
    right: 0;
    flex-direction: row;
    .statusIndicator {
        margin-right: 4px;
    }
}

.statusIndicator {
    padding: 4px 8px;
    border-radius: var(--radius);
    color: white;
    text-transform: capitalize;
}

.stateIndicator {
    padding: 4px 8px;
    border-radius: var(--radius);
    color: var(--positive);
}

.connected {
    color: var(--positive);
    background-color: var(--positive-l);
}

.reconnecting {
    color: var(--text-placeholder);
    background-color: var(--fill-m);
}

.closed {
    color: var(--negative);
    background-color: var(--negative-l);
}

.offline {
    color: var(--negative);
    background-color: var(--negative-l);
}

