.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--b-l);
}

.label {
    // margin-bottom: var(--b-xs);
    flex-shrink: 0;
    flex-basis: 40%;
    text-align: right;
    margin-right: var(--b-s);
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.units {
    margin-left: var(--b-s);
    font-size: var(--f);
    color: var(--label);
}
